# IIOT MACHINE LEARNING PRACTICALS

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from sklearn.ensemble import RandomForestClassifier # for the model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report # for model evaluation
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [37]:
dt=pd.read_csv("IOT_water_potability.csv")

In [38]:
dt.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

### 1.Perform EDA for the given dataset

In [39]:
dt.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [59]:
updated_dt = dt
updated_dt['ph']=updated_dt['ph'].fillna(updated_dt['ph'].mean())
updated_dt.info()

In [60]:
updated_dt['Sulfate']=updated_dt['Sulfate'].fillna(updated_dt['Sulfate'].mean())
updated_dt.info()

In [42]:
updated_dt['Trihalomethanes']=updated_dt['Trihalomethanes'].fillna(updated_dt['Trihalomethanes'].mean())
updated_dt.info()

In [43]:
updated_dt.isnull().sum()

In [44]:
updated_dt.mode()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,47.432000,320.942611,0.352000,333.775777,181.483754,2.200000,66.396293,1.450000,0.0
1,NaN,73.492234,728.750830,0.530351,NaN,201.619737,4.371899,NaN,1.492207,NaN
2,NaN,77.459586,1198.943699,1.390871,NaN,210.319182,4.466772,NaN,1.496101,NaN
3,NaN,81.710895,1351.906979,1.683993,NaN,217.358330,4.473092,NaN,1.641515,NaN
4,NaN,94.091307,1372.091043,1.920271,NaN,232.613624,4.861631,NaN,1.659799,NaN
...,...,...,...,...,...,...,...,...,...,...
3271,NaN,307.706024,56320.586979,12.626900,NaN,672.556999,23.917601,NaN,6.357439,NaN
3272,NaN,308.253833,56351.396304,12.653362,NaN,674.443476,23.952450,NaN,6.389161,NaN
3273,NaN,311.383956,56488.672413,12.912187,NaN,695.369528,24.755392,NaN,6.494249,NaN
3274,NaN,317.338124,56867.859236,13.043806,NaN,708.226364,27.006707,NaN,6.494749,NaN
3275,NaN,323.124000,61227.196008,13.127000,NaN,753.342620,28.300000,NaN,6.739000,NaN

In [45]:
updated_dt.mean()

ph                     7.080795
Hardness             196.369496
Solids             22014.092526
Chloramines            7.122277
Sulfate              333.775777
Conductivity         426.205111
Organic_carbon        14.284970
Trihalomethanes       66.396293
Turbidity              3.966786
Potability             0.390110
dtype: float64

In [57]:
updated_dt.median()

ph                     7.080795
Hardness             196.967627
Solids             20927.833607
Chloramines            7.130299
Sulfate              333.775777
Conductivity         421.884968
Organic_carbon        14.218338
Trihalomethanes       66.396293
Turbidity              3.955028
Potability             0.000000
dtype: float64

In [47]:
updated_dt.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.469956,32.879761,8768.570828,1.583085,36.142612,80.824064,3.308162,15.769881,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.277673,176.850538,15666.690297,6.127421,317.094638,365.734414,12.065801,56.647656,3.439711,0.000000
50%,7.080795,196.967627,20927.833607,7.130299,333.775777,421.884968,14.218338,66.396293,3.955028,0.000000
75%,7.870050,216.667456,27332.762127,8.114887,350.385756,481.792304,16.557652,76.666609,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

### 2.Perform feature engineering-encoding

In [48]:
X=updated_dt.iloc[:,:-1]
Y=updated_dt['Potability']

In [49]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Potability, dtype: int64

In [50]:
x = pd.get_dummies(X, drop_first=True)

In [51]:
x.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075

In [52]:
x.shape

(3276, 9)

### 3.APPLY DATASPLITTING OF RATIO 70:30

In [53]:
X_train, X_test , Y_train, Y_test=train_test_split(X,Y,train_size=.7, random_state=10)

### 4.FIND ACCURACY OF THE MODEL USING DECISION TREE CLASSIFIER

In [54]:
dtc=DecisionTreeClassifier(
    criterion='gini',
    splitter='best',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=10,
    max_leaf_nodes=5)
dtc.fit(X_train,Y_train)
dtc_pred=dtc.predict(X_test)
print("DTC accuracy is",accuracy_score(Y_test,dtc_pred)*100)

DTC accuracy is 61.953204476093596

### 5.FIND ACCURACY OF THE MODEL USING RANDOM FOREST CLASSIFIER

In [55]:
random=RandomForestClassifier( criterion='gini',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=5,bootstrap=True,random_state=100)
random.fit(X_train,Y_train)
random_pred=random.predict(X_test)
print("Random accuracy is",accuracy_score(Y_test,random_pred)*100)

Random accuracy is 63.47914547304171